.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.locator-button{
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  margin-top: 1rem;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
}
.map-link{
  color: black;
  font-size: 20px;
  padding: 10px;
}
.map-link:hover{
  color: green;
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}

